@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 98%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-primary: hsl(24.6 95% 53.1%);
  --color-primary-foreground: hsl(60 9.1% 97.8%);
}

body {
  @apply bg-background text-foreground antialiased font-sans;
}
